<?xml version="1.0" encoding="UTF-8"?>
<suite name="testng Suite">
   <test name="Framework">
      <classes>
         <class name="driver.DriverScript">
            <methods>
               <include name="loadClasses"></include>
               <include name="executeTest"></include>
            </methods>
         </class>
      </classes>
   </test>
</suite>